
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- using jquery library -->
    <script
        src="https://code.jquery.com/jquery-git.js">
    </script>
</head>

<body>
    <h1 style="color: green;">
      Geeksforgeeks
    </h1>

    <!-- Creating a button -->
    <div class="redirect">
        <button onclick="/run_voice" >Answer the question</button>
    </div>

    <!-- Script which will redirect
         us to another page    -->
    <script>
        // click event on button
        $("button").click(function(){
            $(".redirect").text("Listening....")

            // storing url and time
            let delay = 5000;
            let url = "/results";
            setTimeout(function(){
                location = url;
            },5000)
        })
    </script>
</body>

</html>